<div class="skill">
    <div class="skill-stat-section font-excelsior-sans">
        <div class="skill-base-power"><span class="skill-base-power-value text-shadow"></span></div>
        <div class="skill-icon-section">
            <div class="skill-coin-power-container">
                <img class="skill-coin-power-panel">
                <div class="skill-coin-power-value"></div>
            </div>
            <div class="skill-icon-container">
                <img class="skill-icon-frame">
                <img class="skill-icon">
                <img class="skill-damage-type-icon">
            </div>
        </div>
        <div class="skill-name-section">
            <div class="skill-coins"></div>
            <div class="skill-name-ribbon">
                <img class="skill-name-ribbon-start"></img>
                <div class="skill-name-ribbon-middle">
                    <span class="skill-name-value font-mikodacs text-shadow"></span>
                </div>
                <div class="skill-name-ribbon-end"><img class="multiply-icon"><span>3</spans></div>
            </div>
            <div class="skill-name-bottom">
                <div class="skill-level">
                    <img class="skill-attack-icon" src="./assets/Icons/Stats/Attack.png">
                    <span class="skill-level-value text-shadow"></span>
                </div>
                <div class="skill-attack-weight font-pretendard-regular text-shadow">
                    Atk weight <span class="skill-attack-weight-value text-shadow"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="skill-description">
    
    </div>
</div>
